[Unit]
Description=DeviceZ Agent
After=network.target

[Service]
WorkingDirectory=/opt/devicez
ExecStart=/bin/bash DeviceZAgent.sh
Restart=on-failure
RestartSec=10
User=root
Group=root

[Install]
WantedBy=multi-user.target